<ion-view view-title ="News">
  <ion-content class="content">

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Search for News on...</span>
    <input type="text" placeholder="search term...">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">That term is a:</span>
    <select>
        <option value="person">Person</option>
        <option value="city">City</option>
        <option value="company">Company</option>
      </select>
  </label>
</div>

    <!-- <form>
      <label>Search for News on...</label>
      <input type="text" class="search" placeholder="search term...">
      <label>That term is a:</label>
      <select>
        <option value="person">Person</option>
        <option value="city">City</option>
        <option value="company">Company</option>
      </select>
    </form> -->

    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
